In [97]:
pip install pandas openpyxl pillow numpy

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: openpyxl in ./.venv/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: pillow in ./.venv/lib/python3.10/site-packages (11.2.1)
Requirement already satisfied: numpy in ./.venv/lib/python3.10/site-packages (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.10/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [64]:
import pandas as pd
import openpyxl
from PIL import Image
from PIL import Image, ImageDraw, ImageChops, ImageFont
import os

In [65]:
category = "Birthdays"
department = "ABC"

df = pd.read_excel("data/Format Frame Auto.xlsx", sheet_name=category)
df

      jan_fullname   jan_shortname jan_id_file
0  Mathew Sullivan    Mat Sullivan  m.sullivan
1  Carter Guerrero   Cart Guerrero  c.guerrero
2      Marley Dale       Marl Dale      m.dale
3  Harold Griffith  Harry Griffith  h.griffith
4  Alysha Davidson    Aly Davidson  a.davidson

In [39]:
feb_names = df.jan_shortname

In [68]:
def make_circular(image_path):
    img = Image.open(image_path).convert("RGBA")
    width, height = img.size
    
    mask = Image.new('L', (width, height), 0)
    draw = ImageDraw.Draw(mask)
    draw.ellipse((0, 0, width, height), fill=255)
    
    img.putalpha(mask)
    return img

coord_arr_5 = [[204, 315], [839, 315], [1474, 315], [536, 681], [1165,682]]

# Load background
canvas = Image.open("backgrounds/bg1.png").convert("RGBA")

# Process person image
circular_image = make_circular("images/person-holder.jpg")
resize_image = 240
resized_image = circular_image.resize((resize_image, resize_image), Image.LANCZOS)


# Main process of 
counter = 0
while counter < len(coord_arr_5):
    x = coord_arr_5[counter][0]
    y = coord_arr_5[counter][1]
    canvas.paste(resized_image, (x , y), resized_image)


    draw = ImageDraw.Draw(canvas)

    # Font 
    font = ImageFont.truetype("DejaVuSansMono.ttf", size=25)

    # Specify the text and its position
    text = feb_names[counter]
    y_text_offset = 300
    x_text_offset = 120
    text_position = (x + x_text_offset, y + y_text_offset)

    # Choose text color
    text_color = (0, 0, 0)

    draw.text(text_position, text, fill=text_color, font=font, anchor="mm")

    counter = counter + 1

# canvas.save("[{department}]-{category}-{counter}", "JPEG")
output_name = f"{department}-{category}-{counter}.jpeg"

# Convert to RGB to save as JPEG
canvas = canvas.convert("RGB")

# Save to folder
os.makedirs("output", exist_ok=True)
canvas.save(os.path.join("output", output_name))

TODO: 
- calculate image and text offset to make the anchor point be the middle
- read the name and image path from the excel file 
- use the appropriate canvas when of number of people

TODO: 
- manipulate the excel file  
- combine old data with the past data

TODO: 
- Make this into a video, save it and get the duration 
- Set this duration in the software upload and observe how it will play

TODO:
- create folder for image and file in the downloads folder for easy access 
- detect if the file is an image or excel file 
- move them in their respective folders inside the project

In [69]:
category = "Birthdays"
department = "ABC"

df = pd.read_excel("data/Format Frame Auto.xlsx", sheet_name=category)
df

      jan_fullname   jan_shortname jan_id_file
0  Mathew Sullivan    Mat Sullivan  m.sullivan
1  Carter Guerrero   Cart Guerrero  c.guerrero
2      Marley Dale       Marl Dale      m.dale
3  Harold Griffith  Harry Griffith  h.griffith
4  Alysha Davidson    Aly Davidson  a.davidson

### Basic ID generator

In [96]:
names = [
"Mir Hernandez",
"Mett Melendez",
"Sors Suarez",
"Bil Wlcox",
"Lu Jefferson",
"Emman Hardy",
"Jac Roborts",
"Eby Ho",
"Dev Dunn"
]
sep = [name.lower().split() for name in names]
first = [item[0][0] for item in sep]

sep1 = [name.lower().split() for name in names]
last = [item[1] for item in sep1]


df = pd.DataFrame({'first_name': first, 'last_name': last, "id":f"{first}.{last}"})
df['combined'] = df['first_name'] + "." + df['last_name']
print(df['combined'].to_string(index=False))

m.hernandez
 m.melendez
   s.suarez
    b.wlcox
l.jefferson
    e.hardy
  j.roborts
       e.ho
     d.dunn

### Creating Buckets of data

In [100]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {'values': np.random.randint(0, 100, 20)}
df = pd.DataFrame(data)

# Using pandas.cut()
bins = [0, 25, 50, 75, 100]
labels = ['0-25', '26-50', '51-75', '76-100']
df['value_bins_cut'] = pd.cut(df['values'], bins=bins, labels=labels, right=True)

# Using pandas.qcut()
df['value_bins_qcut'] = pd.qcut(df['values'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

print(df.sort_values(by="value_bins_qcut").to_string(index=False))

 values value_bins_cut value_bins_qcut
     28          26-50              Q1
     19           0-25              Q1
     25           0-25              Q1
     14           0-25              Q1
     33          26-50              Q1
     46          26-50              Q2
     37          26-50              Q2
     42          26-50              Q2
     34          26-50              Q2
     40          26-50              Q2
     65          51-75              Q3
     49          26-50              Q3
     63          51-75              Q3
     49          26-50              Q3
     69          51-75              Q3
     74          51-75              Q4
     91         76-100              Q4
     70          51-75              Q4
     88         76-100              Q4
     75          51-75              Q4

### Creating groups

In [103]:
category = "Birthdays"
department = "ABC"

df = pd.read_excel("data/More Frame Auto.xlsx", sheet_name=category)
data = df["jan_shortname"]
data

0       Mat Sullivan
1      Cart Guerrero
2          Marl Dale
3     Harry Griffith
4       Aly Davidson
5       Gerald Quinn
6      Mir Hernandez
7      Mett Melendez
8        Sors Suarez
9          Bil Wlcox
10      Lu Jefferson
11       Emman Hardy
12       Jac Roborts
13            Eby Ho
14          Dev Dunn
Name: jan_shortname, dtype: object

In [111]:
data_count = len(data)
print(data_count)
print(data_count - 8)
print(data[0:8])
print("----")
print(data[8:])

15
7
0      Mat Sullivan
1     Cart Guerrero
2         Marl Dale
3    Harry Griffith
4      Aly Davidson
5      Gerald Quinn
6     Mir Hernandez
7     Mett Melendez
Name: jan_shortname, dtype: object
----
8      Sors Suarez
9        Bil Wlcox
10    Lu Jefferson
11     Emman Hardy
12     Jac Roborts
13          Eby Ho
14        Dev Dunn
Name: jan_shortname, dtype: object

In [127]:
import pandas as pd

df = pd.DataFrame({'name': data})
groups = []

while not df.empty:
    n = len(df)
    for size in range(8, 0, -1):
        if n % size == 0 or n >= size:
            group = df.iloc[:size]['name'].tolist()
            groups.append(group)
            df = df.iloc[size:].reset_index(drop=True)
            break

for group in groups:
    print(group)
    print(len(group))
    print("\n")

['Mat Sullivan', 'Cart Guerrero', 'Marl Dale', 'Harry Griffith', 'Aly Davidson', 'Gerald Quinn', 'Mir Hernandez', 'Mett Melendez']
8


['Sors Suarez', 'Bil Wlcox', 'Lu Jefferson', 'Emman Hardy', 'Jac Roborts', 'Eby Ho', 'Dev Dunn']
7

In [130]:
counter = 0
answer = 0
while counter < 8:
    answer = counter + 1
    counter = counter + 1
print(answer)

8

In [ ]:
while data_count != 0:

15

If i have a column of names with 15 elements how can I make an array wherein
if the data is divisible by 8, takes those 8 and append to arr 
if the data is is not divisible by higher number then subtract 1 and if divisble take those and put in the arr